USE [ZSBD_Ksiegarnia]
GO
/****** Object:  StoredProcedure [db_create].[KsiazkaTlumaczLink]    Script Date: 05.06.2025 21:15:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [db_create].[KsiazkaTlumaczLink]
AS
BEGIN
	SET NOCOUNT ON;

    INSERT INTO KsiazkaTlumaczLink (ksi_id, tra_id)
VALUES
(1, 2),
(2, 7),
(3, 2),
(4, 2),
(5, 6),
(6, 1),
(7, 3),
(8, 7),
(9, 4),
(10, 5),
(11, 3),
(12, 2),
(13, 10),
(14, 4),
(15, 3),
(16, 5),
(17, 10),
(18, 1),
(19, 5),
(20, 7),
(21, 7),
(22, 4),
(23, 1),
(24, 3),
(25, 9),
(26, 9),
(27, 8),
(28, 10),
(29, 7),
(30, 7),
(31, 7),
(32, 6),
(33, 7),
(34, 10),
(35, 1),
(36, 6),
(37, 6),
(38, 6),
(39, 7),
(40, 5),
(41, 10),
(42, 4),
(43, 10),
(44, 10),
(45, 2),
(46, 8),
(47, 1),
(48, 10),
(49, 10),
(50, 2),
(51, 1),
(52, 5),
(53, 10),
(54, 8),
(55, 5),
(56, 8),
(57, 2),
(58, 3),
(59, 4),
(60, 8),
(61, 10),
(62, 10),
(63, 3),
(64, 3),
(65, 2),
(66, 6),
(67, 7),
(68, 3),
(69, 9),
(70, 6),
(71, 6),
(72, 1),
(73, 5),
(74, 4),
(75, 3),
(76, 2),
(77, 2),
(78, 10),
(79, 10),
(80, 5),
(81, 1),
(82, 1),
(83, 1),
(84, 10),
(85, 6),
(86, 10),
(87, 5),
(88, 9);

END
